name: iOS CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install XcodeGen
        run: brew install xcodegen
      - name: Generate project
        #working-directory: MonoFocus
        run: xcodegen generate
      - name: Build (Debug)
        #working-directory: MonoFocus
        run: |
          xcodebuild -project MonoFocus.xcodeproj -scheme MonoFocus -configuration Debug -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 16' build
